.widget-repos {
  width: 90%;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #d8d8d8;
  border-radius: 4px;
}

.header {
  display: flex;
  align-items: center;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  border-bottom: 1px solid #d8d8d8;
  background-color: #f5f5f5;
  font-weight: 700;
}

.header__title {
  color: rgb(51, 51, 51);
}

.header__count {
  display: flex;
  align-items: center;
  height: 1.3rem;
  padding-left: 0.35rem;
  padding-right: 0.35rem;
  margin-left: 0.4rem;
  border-radius: 1rem / 1rem;
  background-color: #babec0;
  color: white;
}

.search {
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  background-color: #fafafa;
}

.search__field {
  width: 100%;
  height: 2rem;
  padding: 0.4rem 0.5rem;
  border: 1px solid #ddd;
  border-radius: 3px;
  outline: none;
  color: #333;
  font-size: 0.75rem;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075);
}

.search__field:focus {
  border: 1px solid #51a7e8;
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.075),
                    0 0 5px rgba(81,167,232,0.5);
}

.filter {
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  padding-top: 0.2rem;
  /*padding-bottom: 0.8rem;*/
  border-bottom: 1px solid #e5e5e5;
  background-color: #fafafa;
}

.filter__list {
  display: flex;
  justify-content: center;
  list-style-type: none;
}

.filter__btn {
  margin-right: 0.6rem;
  padding: 0.5rem;
  border: none;
  background-color: transparent;
  color: #767676;
  font-size: 0.75rem;
  cursor: pointer;
}

.filter__btn:hover {
  border-bottom: 2px solid #e5e5e5;
}

.filter__btn:focus {
  /*outline: 1px solid #51a7e8;*/
  /*box-shadow: 0 0 5px rgba(81,167,232,0.5);*/
}

.filter__btn--active {
  border-bottom: 2px solid #d26911;
  cursor: default;
}

.filter__btn--active:hover {
  border-bottom: 2px solid #d26911;
}

.filter__btn--active:focus {
  /*outline: none;*/
  /*box-shadow: none;*/
}
